/* css for body having no margin and a custom font family */
body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
}
/* overlay for loader */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 40%;
  left: 0px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/* css for the react root div, setting display as flex, flex direction to column and aligning items to center */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
